<% layout("/layouts/boilerplate") %>
<body>
    <style>
        @media (min-width: 800px) { /* Bootstrap's breakpoint for large screens */
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;
            }
             
        }
        @media (max-width: 500px) { /* Bootstrap's breakpoint for large screens */
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;
            }
             
        }
    </style>
    <div class="container mt-5 ">
        <h3 class="px-lg-20"><%= listing.title %></h3>
        <img src="<%= listing.image.url %>" class="card-img-top show-img px-lg-20" height="400vh" >
        <ul class="list-group mb-2">
            <li class="list-group-item"><strong>Owned by: </strong> <%= listing.owner.username %></li>
            <li class="list-group-item"><strong>Description:</strong> <%= listing.description %></li>
            <li class="list-group-item"><strong>Price:</strong> &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
            <li class="list-group-item"><strong>Location:</strong> <%= listing.location %></li>
            <li class="list-group-item"><strong>Country:</strong> <%= listing.country %></li>
        </ul>
       <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
        <div class="d-flex justify-content-between">
            <form action="/listings/<%=listing._id %>/edit">
                <button type="submit" class="btn btn-primary" style="background-color: rgb(12, 204, 73) !important;">Edit this Listing</button>
            </form>
            <form method="post" action="/listings/<%= listing._id%>?_method=DELETE">
                <button type="submit" class="btn btn-danger">Delete this listing</button>
            </form>
        </div>
        <% } %>
        <br><hr><br>
        <% if(currUser) { %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-coinFlip">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>
            <button class="btn btn-outline-dark" style="background-color: rgb(183, 9, 183) !important; color: white !important;">Submit</button>
        </form>
        <% } %>
        <hr><br>
        <h4><b>All Reviews</b></h4><br>
        <div class="row" style="margin-top: 10px;">
            <% for(review of listing.reviews) { %>
                <div class="card col-5" style="width: 50%;">
                    <div class="card-body">
                        <h6><b><p class="card-text mb-1"><%= review.author.username %></p></b></h6>
                        <p class="starability-result" data-rating="<%= review.rating %>"></p>
                        <p class="card-text mb-1"><%= review.comment %></p>
                    </div>
                    <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <br><button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
